@page "/Committees/CommitteeDetails/{CommitteeID:int}"
@page "/Committees/CommitteeDetails/"

<h1>committee Details for ID:@CommitteeID</h1>


@code {

    [Parameter]
    public int CommitteeID { get; set; }



}
