@page "/createMeeting"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using System.ComponentModel.DataAnnotations


<EditForm Model="@meeting" OnValidSubmit="@CreateNewMeeting">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="MeetingTitle">Meeting Title</label>
        <InputText id="MeetingTitle" @bind-Value="meeting.meetingTitle" />
        <ValidationMessage For="@(() => meeting.meetingTitle)" />
    </div>
    <div class="form-group">
        <label for="MeetingTitle">Meeting Start Time</label>
        <InputDate id="MeetingTitle" @bind-Value="meeting.meetingStartTime" />
    </div>
    <div class="form-group">
        <label for="MeetingTitle">Meeting End Time</label>
        <InputDate id="MeetingTitle" @bind-Value="meeting.meetingEndTime" />
    </div>
    <div class="form-group">
        <label for="MeetingTitle">Meeting Location</label>
        <InputText id="MeetingTitle" @bind-Value="meeting.Location" />
    </div>
    <div class="form-group">
        <label for="MeetingTitle">Committee</label>
        <InputNumber id="MeetingTitle" @bind-Value="meeting.committeeID" />
        <ValidationMessage For="@(() => meeting.committeeID)" />
    </div>
    

    <button type="submit">Submit</button>
</EditForm>

@code {
    Meeting meeting = new Meeting();
   
    public async Task<Meeting> CreateTheMeeting(Meeting request)
    {
        var result = await Http.PostAsJsonAsync("api/meetings", request);
        return await result.Content.ReadFromJsonAsync<Meeting>();
    }

    async Task CreateNewMeeting()
    {
        var result = await CreateTheMeeting(meeting);
        NavigationManager.NavigateTo($"");
    }

    public class Meeting
    {
        public int meetingID { get; set; }
        [Required]
        public string meetingTitle { get; set; }
        [Required]
        public DateTime meetingStartTime { get; set; }
        public DateTime meetingEndTime { get; set; }
        public string Location { get; set; }
        [Required]
        public int committeeID { get; set; }
    }
}