@page "/createMeeting"

<h3>Create a new Meeting</h3>

<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Meeting Title</label>
            <input type="text" class="form-control" id="MeetingTitle" placeholder="Ex. Happiness Team Weekly Meeting">
        </div>

    </div>
    <div class="form-row">

        <div class="form-group col-md-6">
            <label for="inputAddress2">Location</label>
            <input type="text" class="form-control" id="Location" placeholder="Teams, Burj Baitik, or KFH AUTO">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Date</label>
            <div class="input-group date" data-provide="datepicker">
               
                <!-- Testing Date picker-->
                <div style="width:400px">
                    <input data-provide="picker" type="date" class="picker" data-date-format="mm/dd/yyyy">
                </div>

                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Committee</label>
            <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@code {

}
