@page "/"
@inject NavigationManager NavigationManager
@inject HttpClient Http

@if (meetings == null)
{
    <p><em>Loading...</em></p>
}
else
{
<body class="u-body">
    <header class="u-clearfix u-header u-header" id="sec-41ff">
        <div class="u-clearfix u-sheet u-sheet-1">
            <span class="u-file-icon u-icon  u-icon-1" data-animation-name="slideIn" data-animation-duration="1000" data-animation-direction="Down"><img src="lib/Assets/HomeLogo.jpg" width="300" height="150"></span>
            <h1 style="text-align:center">Meetings </h1>
            <div class="u-border-1 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-1"></div>
        </div>
    </header>

    <div class="container">
        <!--div class="row card-group col-4 box">
        -->

        @foreach (var m in meetings)
        {
            <a href="/meetingDetails//@m.meetingID">

                <button class="button btn-block">
                    <h3 class="u-text u-text-2">@m.meetingTitle</h3>
                    <h6 class="u-text u-text-3">Committee: @m.committeeID</h6>
                    <h6 class="u-text u-text-4">@m.meetingID</h6>
                </button>
            </a>
        }
        <a href="/createMeeting">

            <button class="button btn-block">
                <h1>+</h1>
            </button>
        </a>


    </div>
</body>
}
@code {

    private Meeting[] meetings;

    protected override async Task OnInitializedAsync()
    {
        meetings = await Http.GetFromJsonAsync<Meeting[]>("api/meetings");
    }

    public class Meeting
    {
        public int meetingID { get; set; }
        public string meetingTitle { get; set; }
        public DateTime meetingStartTime { get; set; }
        public DateTime meetingEndTime { get; set; }
        public string Location { get; set; }
        public int committeeID { get; set; }
    }
}