@page "/"

<body class="u-body">
    <header class="u-clearfix u-header u-header" id="sec-41ff">
        <div class="u-clearfix u-sheet u-sheet-1">
            <span class="u-file-icon u-icon  u-icon-1" data-animation-name="slideIn" data-animation-duration="1000" data-animation-direction="Down"><img src="lib/Assets/HomeLogo.jpg" width="300" height="150"></span>
            <h1 style="text-align:center">Meetings </h1>
            <div class="u-border-1 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-1"></div>
        </div>
    </header>

    <div class="container">
        <!--div class="row card-group col-4 box">
        -->
            @foreach (var meeting in meetings)
            {
                <button class="button btn-block">
                    <h3 class="u-text u-text-2">@meeting.meetingTitle</h3>
                    <h6 class="u-text u-text-3">Committee</h6>
                    <h6 class="u-text u-text-4">@meeting.committeeTitle</h6>
                </button>
            }
        <!--</div> -->
    </div>
</body>


@code {


    private IEnumerable<meeting> meetings = new[] {
        new meeting { meetingTitle = "HR meeting", meetinID = 1 },
        new meeting { meetingTitle = "IT meeting", meetinID = 2 },
        new meeting { meetingTitle = "PR meeting", meetinID = 3 },
    };


    public class meeting
    {
        public int meetinID { get; set; }

        public DateTime dateTime { get; set; }

        public string meetingTitle { get; set; }

        public string committeeTitle { get; set; }
    }
    
}